{
  "presets": [
    [
      "env", {
        "targets": [
          "last 2 versions"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ]
      ]
    },
    "staging": {
      "presets": [
        [
          "env"
        ]
      ]
    }
  }
}